<html>
	<head>
		<title> Hack The North 2020++ </title>
		<link rel="stylesheet" type="text/css" href="/style/homepage.css" />
	</head>
	<body>
		<div id = "layout">
			<div id = "header">
				<h1> Live Poll - Hack The North 2020++ </h1>
			
			</div>
			
			<div id = "body content">
			
				<div id = "nav">
					<h3> Navigation </h3>
					<ul>
						<li> <a class href = "selected" href = "">Home </a></li>
						<li><a href = ""> Team </a></li>
						<li><a href = ""> Project Description </a> </li>
					
				</div>
				<div id = "poll">
					<h2> Live Poll </h2>
					<p> wjqnjkewnfewlkflfmelkfemfklmfkewmfkemfekmfekwmfewklfmewk.mfewkmfkmfkmfemflmfkffkfkewmflkewmfelwmfewlfmelkf </p>
				
				</div>
			
			</div>
			<div id = "footer">
				Copyright &copy; 2020.
			
			</div>
		</div>
	
	</body>
</html>